<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 product-Details  ">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <img class="img-product" [src]="product.images?.[0]" alt="Product Image" class="img-fluid rounded">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <h2 class="product-title"> {{ product.name }}</h2>
                <p class="product-Details mm">{{ product.description }}</p>
                <h4 class="product-Details-Info price">{{ product.currentPrice }}<small>100$</small></h4>
                <h4 class="product-Details-Info">Category:{{ product.categoryName }}</h4>

                <p class="discount"><small>{{ product.discount }}</small> of product! </p>
                <div class="row">
                    <button class="add-to-cart col-lg-4 col-md-12 col-sm-12">Add to cart</button>
                    <select class="col-lg-3 col-md-12 col-sm-12  form-selectt">
                        <option *ngFor="let i of [].constructor(product.count); let index = index  let first = first" [selected]="first===true" [value]="index + 1">
                            {{ index + 1 }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h1>Product Rating</h1>
    <div class="row Rating ">
        <div class="col-lg-4 col-md-4 col-sm-12 text-center Rating-stars">
            <h1 class="text-rating">{{review.avgRate.toPrecision(2)}}</h1>
            <div class="mb-3">
                    <span  class="star" [ngClass]="1 <= review.avgRate ? 'active' : ''">&#9733;</span>
                    <span  class="star" [ngClass]="{ 'active': 2 <= review.avgRate  }">&#9733;</span>
                    <span  class="star" [ngClass]="{ 'active': 3 <= review.avgRate  }">&#9733;</span>
                    <span  class="star" [ngClass]="{ 'active': 4 <=review.avgRate  }">&#9733;</span>
                    <span  class="star" [ngClass]="{ 'active': 5 <= review.avgRate  }">&#9733;</span>
            </div>
            
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div *ngFor="let c of review.reviewGroupDtos" class="rating-bar mb-3">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <span>{{c.rate}} stars</span>
                    <small class="text-muted">{{c.rate}} Rate</small>
                </div>
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="c.count" [attr.aria-valuenow]="c"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div> 
           
        </div>
    </div>
</div>
<div>
    <h1>Product Reviews</h1>
    <div *ngFor="let u of review.reviewsUsers" class="row justify-content-center align-items-center">
        <div class="col-lg-1 col-md-2 col-sm-2">
            <i class="fa-solid fa-user person"></i>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8">
            <div class="d-flex align-items-center" style="width: 100px;">
                <h3 class="me-3">{{u.userName}}</h3>
                <div class="star-rating">
                    <span  class="star" [class.active]="1 <= u.rate" >&#9733;</span>
                    <span  class="star" [ngClass]="{ 'active': 2 <= u.rate }">&#9733;</span>
                    <span  class="star"[ngClass]="{ 'active': 3 <= u.rate }">&#9733;</span>
                    <span  class="star"  [ngClass]="{ 'active': 4 <= u.rate }">&#9733;</span>
                    <span  class="star" [ngClass]="{ 'active': 5 <= u.rate }">&#9733;</span>
                  </div>
            </div>
            <p class="text-muted">{{u.comment}}</p>
        </div>
    </div>
</div>


<div>
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-8 col-sm-8">
            <!-- Star Rating -->
            <div class="star-rating">
                <span
                  class="star"
                  [ngClass]="{ 'active': 1 <= selectedRating }"
                  (click)="rate(1)"
                >&#9733;</span>
                <span
                  class="star"
                  [ngClass]="{ 'active': 2 <= selectedRating }"
                  (click)="rate(2)"
                >&#9733;</span>
                <span
                  class="star"
                  [ngClass]="{ 'active': 3 <= selectedRating }"
                  (click)="rate(3)"
                >&#9733;</span>
                <span
                  class="star"
                  [ngClass]="{ 'active': 4 <= selectedRating }"
                  (click)="rate(4)"
                >&#9733;</span>
                <span
                  class="star"
                  [ngClass]="{ 'active': 5 <= selectedRating }"
                  (click)="rate(5)"
                >&#9733;</span>
              </div>
           
                <!-- Review Input -->
                <input           
                class="form-control"
                placeholder="Enter your review"
                name="comment" 
                type="text"
                [(ngModel)]="comment"
              
              />             
                <!-- Submit Button -->
                <button (click)="addReview()" type="submit" class="btn btn-primary mt-3 btn-review">
                  Submit
                </button>
       
        </div>
    </div>
</div>