<header class="navbar navbar-expand-lg bg-white border-bottom fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="/">MESTORE</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <nav class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase fs-5">
                <a class="nav-link p-2" href="/">Home</a>
                <a class="nav-link p-2" href="/shop">Shop</a>
            </nav>
            <div class="d-flex align-items-center">
                <a routerLink="/cart" class="position-relative me-3">
                    <i class="fa fa-shopping-cart fa-2x text-dark"></i>
                    <div class="cart-no">
                       {{ count }}
                    </div>
                </a>
                <div class="d-flex">
                    @if(isAuthenticated ===false){
                        <a routerLink="/login" class="btn btn-outline-secondary me-2">Login</a>
                        <a href="/account/register" class="btn btn-outline-secondary">Sign up</a>
                    } @else {
                        <a (click)="logout()" class="btn btn-outline-secondary">Logout</a>
                    }
                </div>
            </div>
        </div>
    </div>
</header>
